CallbackWrapperSB/CallbackWrapperService/WSDLs/callbackwrapperprocess_client_ep.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="CallbackWrapperProcess"
     targetNamespace="http://xmlns.oracle.com/CallbackWrapperSOA/CallbackWrapperService/CallbackWrapperProcess"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/CallbackWrapperSOA/CallbackWrapperService/CallbackWrapperProcess"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="CallbackWrapperProcess">
        <plnk:role name="CallbackWrapperProcessProvider" portType="client:CallbackWrapperProcess"/>
        <plnk:role name="CallbackWrapperProcessRequester" portType="client:CallbackWrapperProcessCallback"/>
    </plnk:partnerLinkType>
<wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
   <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
</wsp:Policy>    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/CallbackWrapperSOA/CallbackWrapperService/CallbackWrapperProcess"
                 schemaLocation="../Schemas/callbackwrapperprocess_client_ep.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="CallbackWrapperProcessRequestMessage">
        <wsdl:part name="payload" element="client:process"/>
    </wsdl:message>
    <wsdl:message name="CallbackWrapperProcessResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:portType name="CallbackWrapperProcess">
        <wsdl:operation name="process">
            <wsdl:input message="client:CallbackWrapperProcessRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="CallbackWrapperProcessCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:CallbackWrapperProcessResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CallbackWrapperProcessBinding" type="client:CallbackWrapperProcess">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy" wsdl:required="false"/>
        <wsdl:operation name="process">
            <soap:operation style="document" soapAction="process"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CallbackWrapperProcessCallbackBinding" type="client:CallbackWrapperProcessCallback">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processResponse">
            <soap:operation style="document" soapAction="processResponse"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/CallbackWrapperSOA/CallbackWrapperService/CallbackWrapperProcess"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="callbackwrapperprocess_client_ep">
        <wsdl:port name="CallbackWrapperProcess_pt" binding="client:CallbackWrapperProcessBinding">
            <soap:address location="http://desktop-t7vhrk1:7101/soa-infra/services/default/CallbackWrapperService/callbackwrapperprocess_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
